// _colors.scss
$btn-primary:rgb(11, 119, 243);
$auth-btn:rgb(9, 174, 196);
$secondary-btn-color:rgb(40, 163, 9);

//text color
$auth-header:rgb(16, 160, 160);

//background color
$nav-color:rgb(231, 255, 249);
$auth-color:rgb(11, 107, 107);

//post color
$post-title:rgb(3, 172, 172);
$post-description:black;

//page color
$page-title:rgb(197, 5, 5);
$page-description:black;